@use "./variables.scss" as var;

body {
  background-color: var.$bgColor;
  color: var.$fgColor;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: var.$sidebarWidth var.$explorerWidth 1fr;
  grid-template-rows: var.$topBarHeight 1fr;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}
#topbar {
  position: fixed;
  grid-row: 1;
  grid-column: 1 / -1;
  background-color: #3d2e20;
  z-index: 100;
}
#sidebar-contacts {
  grid-row: 2;
  grid-column: 1;
  background-color: #66492d;
  & .icon-record-contact {
    height: 1em;
    font-size: 2em;
    margin: 0.25em 0;
  }
}
#explorer {
  grid-row: 2;
  grid-column: 2;
  padding: 0;
  overflow: hidden;
  background-color: #3d2e20;
  #top-explorer {
    background-color: #4b3f34;
    padding: 0.5em 0 0.5em 1em;
    font-weight: bold;
    font-size: 0.9em;
    &::before {
      font: var(--fa-font-solid);
      content: "\f078";
      position: relative;
      left: -0.5em;
      color: #92877c;
    }
  }
  a {
    display: block;
    padding: 0.3em 0 0.3em 2em;
    color: var.$fgColor;
    text-decoration-line: none;
    &:hover {
      background-color: #563d0b;
    }
  }
}
