@use "./variables.scss" as var;

body {
  background-color: var.$bgColor;
  color: var.$fgColor;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: var.$sidebarWidth var.$explorerWidth 1fr;
  grid-template-rows: var.$topBarHeight 1fr;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}
#topbar {
  grid-row: 1;
  grid-column: 1 / -1;
  background-color: #3d2e20;
  z-index: 100;
  position: relative;
  #toggle-explorer {
    display: none;
  }
  #content-topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    #title-topbar {
      display: inline-block;
      padding: 0 10%;
      font-size: 0.9rem;
      border-radius: 4px;
      border: solid 1px #625040;
      background-color: var.$bgColor;
      &::before {
        font: var(--fa-font-solid);
        content: "\f002";
        display: inline-block;
        padding-left: 1em;
        transform: scaleX(-1);
      }
    }
  }
}
#sidebar-contacts {
  grid-row: 2;
  grid-column: 1;
  background-color: #66492d;
  & .icon-record-contact {
    width: 1em;
    height: 1em;
    font-size: 2em;
    margin: 0.25em 0;
  }
  & .record-contact {
    display: flex;
    justify-content: center;
    width: 100%;
    &:hover {
      background-color: #8f5d33;
    }
  }
}
#explorer {
  grid-row: 2;
  grid-column: 2;
  padding: 0;
  overflow: hidden;
  background-color: #3d2e20;
  #top-explorer {
    background-color: #4b3f34;
    padding: 0.5em 0 0.5em 1em;
    font-weight: bold;
    font-size: 0.9em;
    &::before {
      font: var(--fa-font-solid);
      content: "\f078";
      position: relative;
      left: -0.5em;
      color: #92877c;
    }
  }
  a {
    display: flex;
    align-items: center;
    padding: 0.3em 0 0.3em 1em;
    color: var.$fgColor;
    text-decoration-line: none;
    &:hover {
      background-color: #563d0b;
    }
    img {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      padding-right: 0.5em;
    }
  }
}

#modal-overlay {
  display: none;
}

@keyframes wrap-attract-open-explorer {
  from {
    padding-right: 0;
  }
  25% {
    padding-right: 0.6em;
  }
  50% {
    padding-right: 0;
  }
  to {
    padding-right: 0;
  }
}

@keyframes content-attract-open-explorer {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(0);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: var.$frameBreakpoint) {
  body {
    grid-template-columns: var.$sidebarWidth 1fr;
  }
  #topbar {
    #toggle-explorer {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      height: var.$topBarHeight;
      margin: 0;
      padding: 0;
      border: none;
      appearance: none;
      background-color: #8f5d33;
      .humberger {
        position: relative;
        width: calc(var.$topBarHeight * 0.5);
        height: calc(var.$topBarHeight * 0.5);
        margin: calc(var.$topBarHeight * 0.25);
        transition: transform 0.4s, opacity 0.4s;
        .bar {
          position: absolute;
          left: 0;
          transition: transform 0.4s, opacity 0.4s;
          display: inline-block;
          width: 100%;
          height: 20%;
          background-color: var.$fgColor;
          &:first-of-type {
            top: 0;
          }
          &:nth-of-type(2) {
            top: calc(var.$topBarHeight * 0.25 - 10%);
          }
          &:last-of-type {
            bottom: 0;
          }
        }
      }
      .toggle-explorer-text {
        padding-right: 1em;
        text-align: center;
        &::after {
          font: var(--fa-font-solid);
          content: "\f105";
          padding-left: 0.5em;
          vertical-align: text-bottom;
        }
      }
      &.open {
        .humberger {
          .bar:first-of-type {
            margin: 0;
            transform: translateY(200%) rotate(-45deg);
          }
          @keyframes center-bar {
            100% {
              height: 0;
            }
          }
          .bar:nth-of-type(2) {
            position: absolute;
            top: 40%;
            opacity: 0;
            transform: translateX(100%);
            animation: center-bar 0.4s forwards;
          }
          .bar:last-of-type {
            margin: 0;
            transform: translateY(-200%) rotate(45deg);
          }
        }
        .toggle-explorer-text {
          visibility: hidden;
          &::after {
            display: inline-block;
            visibility: visible;
            transform: rotate(180deg);
          }
        }
      }
      &:not(.open) {
        animation: wrap-attract-open-explorer 2s 1s infinite;
        & .toggle-explorer-text,
        & .bar:nth-of-type(2) {
          animation: content-attract-open-explorer 2s 1s infinite;
        }
      }
    }
  }
  #explorer {
    position: fixed;
    top: var.$topBarHeight;
    left: var.$sidebarWidth;
    width: var.$explorerWidth;
    height: calc(100vh - var.$topBarHeight);
    z-index: 10;
    &:not(.open) {
      display: none;
    }
  }
}
