$bgColor: #291e17;
$fgColor: #ddd7ce;
$topBarHeight: 2rem;
$sidebarWidth: 3rem;
$explorerWidth: 12rem;
$tabHeight: 2.4rem;
$titleHeight: 2rem;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
body {
  background-color: $bgColor;
  color: $fgColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}
#topbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: $topBarHeight;
  background-color: #3d2e20;
  z-index: 100;
}
#sidebar-contacts {
  position: fixed;
  left: 0;
  top: $topBarHeight;
  padding: 0.5em;
  width: $sidebarWidth;
  background-color: #66492d;
  height: calc(100vh - $topBarHeight);
  & .icon-record-contact {
    height: 1em;
    font-size: 2em;
    margin: 0.25em 0;
  }
}
#explorer {
  position: fixed;
  left: $sidebarWidth;
  top: $topBarHeight;
  width: $explorerWidth;
  height: calc(100vh - $topBarHeight);
  padding: 0;
  overflow: hidden;
  background-color: #3d2e20;
  #top-explorer {
    background-color: #4b3f34;
    padding: 0;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 0.9em;
    &::before {
      font: var(--fa-font-solid);
      content: "\f078";
      position: relative;
      left: -0.5em;
      color: #92877c;
    }
  }
  a {
    display: block;
    padding: 0;
    padding-left: 2em;
    color: $fgColor;
    text-decoration-line: none;
    &:hover {
      background-color: #563d0b;
    }
  }
}

main {
  position: relative;
  left: calc($sidebarWidth + $explorerWidth);
  top: $topBarHeight;
  width: calc(100vw - $sidebarWidth - $explorerWidth);
  height: calc(100vh - $topBarHeight);
  overflow: hidden;
}

.page {
  display: grid;
  height: calc(100vh - $topBarHeight);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(calc(100vh - $topBarHeight), auto);
  section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .main-content {
      height: 100%;
      padding-left: 1em;
      overflow-y: scroll;
    }
    h1,
    h2 {
      display: inline-block;
      background-color: #4c3f34;
      margin: 0;
      height: $tabHeight;
      font-size: 1em;
      line-height: 1;
      padding: calc(($tabHeight - 1em) / 2) 1rem;
      padding-right: 2rem;
      position: sticky;
      top: 0;
      border-radius: 0 0.25rem 0 0;
      border-bottom: 2px solid $bgColor;
      &::after {
        font: var(--fa-font-solid);
        content: "\f00d";
        position: relative;
        left: 1rem;
        color: #bfb9b3;
      }
    }
  }
}

.wrap-card {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}
.title-card,
#section-works h3 {
  position: sticky;
  top: 0;
  height: $titleHeight;
  font-size: 1.2rem;
  line-height: 1.25;
  margin: 0;
  margin-left: -1rem;
  padding: calc(($titleHeight - 1.25em) / 2) 0;
  padding-left: 1rem;
  background-color: #464123;
  border-bottom: solid 2px $bgColor;
  z-index: 1;
}
.period-card {
  position: relative;
  top: 0;
  color: #a69c93;
}

@keyframes arrow-move {
  from {
    transform: none;
  }
  12% {
    transform: translate(0, 0.75rem);
  }
  15% {
    transform: none;
  }
  27% {
    transform: translate(0, 0.75rem);
  }
  30% {
    transform: none;
  }
  to {
    transform: none;
  }
}

#main-works {
  scroll-snap-type: y mandatory;
  scroll-padding-top: calc($titleHeight);
  .title-card {
    position: static;
    scroll-snap-align: start;
    height: auto;
    min-height: $titleHeight;
    font-size: 1em;
  }
  .wrap-card {
    min-height: calc(100vh - $tabHeight);
    &:not(.last-card)::after {
      font: var(--fa-font-solid);
      content: "\f078";
      display: block;
      width: 100%;
      text-align: center;
      color: #92877c;
      font-size: 2em;
      bottom: 1em;
      animation: arrow-move 3s ease-in infinite;
    }
  }
}

#section-works-right > .main-content {
  overflow: hidden;
  scroll-snap-type: y mandatory;
  height: calc(100vh - $topBarHeight - $tabHeight);
  .images-card {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
  }
  #empty-image-content {
    width: 80%;
    height: 50%;
    font-size: 2em;
    background-color: #464123;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.swiper {
  overflow: hidden;

  .swiper-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;

    .swiper-slide {
      aspect-ratio: auto;
      flex: 0 0 100%;
      & > * {
        width: 80%;
        height: 100%;
        margin: 0 10%;
        object-fit: contain;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #ffd494 !important;
    &::before {
      content: "";
      display: block;
      height: 100vh;
      width: 6em;
      position: absolute;
      opacity: 0.3;
    }
    &:hover::before {
      opacity: 0.6;
    }
  }
  .swiper-button-prev::before {
    background: linear-gradient(-90deg, #291e1700, #291e17ff);
  }
  .swiper-button-next::before {
    background: linear-gradient(90deg, #291e1700, #291e17ff);
  }
  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #ffd494 !important;
  }
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}
