body {
  background-color: bisque;
  color: #333;
  & h1 {
    font-size: 2rem;
    text-decoration: underline;
  }
}
.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}
