@use "./variables.scss" as var;

main {
  position: relative;
  left: calc(var.$sidebarWidth + var.$explorerWidth);
  top: var.$topBarHeight;
  width: calc(100vw - var.$sidebarWidth - var.$explorerWidth);
  height: calc(100vh - var.$topBarHeight);
  overflow: hidden;
}

.page {
  display: grid;
  height: calc(100vh - var.$topBarHeight);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(calc(100vh - var.$topBarHeight), auto);
  section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .main-content {
      height: calc(100% - var.$tabHeight);
      overflow-y: scroll;
    }
    h1,
    h2 {
      display: inline-block;
      background-color: #4c3f34;
      position: relative;
      margin: 0;
      min-width: 8em;
      height: var.$tabHeight;
      font-size: 1em;
      line-height: 1;
      padding: calc((var.$tabHeight - 1em) / 2) 1rem;
      padding-right: 3rem;
      position: sticky;
      top: 0;
      border-radius: 0 0.25rem 0 0;
      border-bottom: 2px solid var.$bgColor;
      &::after {
        font: var(--fa-font-solid);
        content: "\f00d";
        position: absolute;
        right: 1rem;
        color: #bfb9b3;
      }
    }
  }
}

.wrap-card {
  position: relative;
  margin-bottom: 2em;
  & > * {
    padding-left: 1rem;
  }
}
.title-card,
#section-works h3 {
  position: sticky;
  top: 0;
  min-height: var.$titleHeight;
  height: auto;
  font-size: 1.2rem;
  line-height: 1.25;
  margin: 0;
  padding: max(calc((var.$titleHeight - 1.25em) / 2), 0.3em) 0;
  padding-left: 1rem;
  background-color: #464123;
  border-bottom: solid 2px var.$bgColor;
  z-index: 1;
}
.period-card {
  position: relative;
  top: 0;
  background-color: #382d1f;
  color: #a69c93ff;
  margin-left: 4px;
  margin-bottom: 0;
  border-left: 4px dotted #1b81a8;
}
.main-card {
  margin: 0 1rem 0 4px;
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 4px solid #487e02;
  > p {
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
