@use "./variables.scss" as var;

main {
  position: relative;
  grid-row: -2;
  grid-column: -2;
  overflow: hidden;
  container-type: inline-size;
}

.page {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(calc(100vh - var.$topBarHeight), auto);
  section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .main-content {
      height: calc(100% - var.$tabHeight);
      overflow-y: scroll;
    }
    h1,
    h2 {
      display: inline-block;
      background-color: #4c3f34;
      position: relative;
      margin: 0;
      min-width: 8em;
      height: var.$tabHeight;
      font-size: 1em;
      line-height: 1;
      padding: calc((var.$tabHeight - 1em) / 2) 1rem;
      padding-right: 3rem;
      position: sticky;
      top: 0;
      border-radius: 0 0.25rem 0 0;
      border-bottom: 2px solid var.$bgColor;
      &::after {
        font: var(--fa-font-solid);
        content: "\f00d";
        position: absolute;
        right: 1rem;
        color: #bfb9b3;
      }
    }
  }
}

#section-about,
#section-message {
  .headed-content {
    padding: 1rem;
    margin-bottom: 3em;
  }
}
#photo-about {
  width: 100%;
  display: flex;
  justify-content: center;
  #photo-reversible {
    width: 40%;
    aspect-ratio: 1;
    img {
      border-radius: 2em;
    }
    .reversible-face::before,
    .reversible-face::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      top: 0;
      right: 0;
    }
    .reversible-face::before {
      border-width: 3em 0 0 3em;
      border-color: transparent transparent transparent var.$fgColor;
      box-shadow: 0 0 2em var.$bgColor;
    }
    .reversible-face::after {
      border-width: 0 3em 3em 0;
      border-color: transparent var.$bgColor transparent transparent;
    }
  }
}
.reversible {
  position: relative;
  .front,
  .back {
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY(-180deg);
  }
  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0);
    }
  }
}
#contact-about {
  position: static;
  height: auto;
  #heading-contact-about {
    display: block;
    position: sticky;
    top: 0;
    min-height: var.$titleHeight;
    height: auto;
    font-size: 1.2rem;
    line-height: 1.25;
    padding: max(calc((var.$titleHeight - 1.25em) / 2), 0.4em) 0;
    padding-left: 1rem;
    background-color: #464123;
    border-radius: 0;
    &::after {
      content: none;
    }
  }
  .wrap-contact-records {
    padding: 0.2em 0 0.2em 1.5em;
    margin: 1em 0 1em 1em;
    border-left: solid 2px #47413a;
    position: relative;
    &::before {
      content: "{";
      color: #da70d6;
      margin-left: -1em;
    }
    &::after {
      content: "}";
      color: #da70d6;
      margin-left: -1em;
    }
  }
  .record-contact-about {
    margin: 0.5rem;
    & > a {
      display: inline-block;
      height: 1.5rem;
      text-decoration: none;
      & > * {
        vertical-align: middle;
        text-decoration: underline;
      }
    }
    .icon-record-contact {
      display: inline-block;
      font-size: 1.5rem;
      width: 1em;
      height: 1em;
      text-decoration: none;
    }
    .contact-service {
      padding-right: 0.3em;
      &::after {
        content: ":";
      }
    }
  }
}

@media screen and (max-width: var.$mainBreakpoint) {
  .page {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% + var.$titleHeight);
    overflow-y: auto;
    &::before {
      padding-top: var.$titleHeight;
      margin-top: calc(-1 * var.$titleHeight);
    }
    & > section {
      width: 100%;
      height: auto;
      margin-bottom: 2em;
      overflow: hidden;
      .main-content {
        height: auto;
        overflow: hidden;
      }
    }
  }
}
