@use "./variables.scss" as var;

@keyframes arrow-move {
  from {
    transform: none;
  }
  18% {
    transform: translate(0, 0.75rem);
  }
  30% {
    transform: none;
  }
  48% {
    transform: translate(0, 0.75rem);
  }
  60% {
    transform: none;
  }
  to {
    transform: none;
  }
}

#main-works {
  scroll-snap-type: y mandatory;
  scroll-padding-top: calc(var.$titleHeight);
  .title-card {
    position: static;
    scroll-snap-align: start;
    height: auto;
    min-height: var.$titleHeight;
    font-size: 1em;
  }
  .wrap-card {
    min-height: calc(
      100vh - var.$topBarHeight - var.$tabHeight - var.$titleHeight
    );
    &:not(.last-card)::after {
      font: var(--fa-font-solid);
      content: "\f078";
      display: block;
      width: 1em;
      color: #92877c;
      font-size: 2em;
      position: absolute;
      bottom: 1em;
      right: 1em;
      animation: arrow-move 2s ease-in infinite;
    }
  }
}
.word-tech-stack-works {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #5c554b;
  margin: 0 4px;
}

#section-works-right > .main-content {
  overflow: hidden;
  scroll-snap-type: y mandatory;
  height: calc(100vh - var.$topBarHeight - var.$tabHeight);
  .images-card {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
  }
  #empty-image-content {
    width: 80%;
    height: 50%;
    font-size: 2em;
    background-color: #464123;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
