@use "./variables.scss" as var;

@keyframes arrow-move {
  from {
    transform: none;
  }
  18% {
    transform: translate(0, 0.75rem);
  }
  30% {
    transform: none;
  }
  48% {
    transform: translate(0, 0.75rem);
  }
  60% {
    transform: none;
  }
  to {
    transform: none;
  }
}

#main-works {
  scroll-snap-type: y mandatory;
  scroll-padding-top: calc(var.$titleHeight);
  .title-card {
    position: sticky;
    top: var.$titleHeight;
    scroll-snap-align: start;
    height: auto;
    min-height: var.$titleHeight;
    font-size: 1em;
  }
  .wrap-card {
    min-height: calc(
      100vh - var.$topBarHeight - var.$tabHeight - var.$titleHeight
    );
    &:not(.last-card)::after {
      font: var(--fa-font-solid);
      content: "\f078";
      display: block;
      width: 1em;
      color: #92877c;
      font-size: 2em;
      position: absolute;
      bottom: 1em;
      right: 1em;
      animation: arrow-move 2s ease-in infinite;
    }
  }
}
.list-works {
  list-style-type: "-";
  list-style-position: inside;
  padding: 0.2em 0 0.2em 1.5em;
  margin: 1em 0;
  border-left: solid 2px #47413a;
  position: relative;
  &::before {
    content: "{";
    color: #da70d6;
    margin-left: -1em;
  }
  &::after {
    content: "}";
    color: #da70d6;
    margin-left: -1em;
  }
  .name-list-works {
    color: #e8ba3c;
    &::after {
      color: var.$fgColor;
      content: ' : "';
    }
  }
  .description-list-works {
    &::after {
      content: '",';
    }
  }
}

.link-works {
  list-style-type: "-";
  list-style-position: inside;
  padding: 0.2em 0 0.2em 1.2em;
  margin: 1em 0;
  border-left: solid 2px #47413a;
  position: relative;
  &::before {
    content: "[";
    color: #da70d6;
    margin-left: -0.7em;
  }
  &::after {
    content: "]";
    color: #da70d6;
    margin-left: -0.7em;
  }
}

.word-tech-stack-works {
  padding: 0.2rem 0.1rem;
  background-color: #565c4b;
  margin: 0 4px;
  border-right: solid 2px #a9a098;
}

#section-works-right > .main-content {
  overflow: hidden;
  scroll-snap-type: y mandatory;
  height: calc(100vh - var.$topBarHeight - var.$tabHeight);
  .images-card {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
  }
  #empty-image-content {
    width: 80%;
    height: 50%;
    font-size: 2em;
    background-color: #464123;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: var.$frameBreakpoint) {
  #main-works {
    scroll-snap-type: none;
  }
}

@media screen and (max-width: var.$mainBreakpoint) {
  #modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #666;
    opacity: 0.3;
    cursor: pointer;
    z-index: 100;
    &:not(.open) {
      display: none;
    }
  }

  #section-works-right.open {
    width: 90%;
    max-width: 800px;
    height: 90%;
    position: fixed;
    transform: translate(
      max(5.5%, calc((100vw - var.$sidebarWidth - 800px) / 2)),
      5.5%
    );
    border-radius: 0.5rem;
    z-index: 10000;
    background-color: #5b4f44;
    #main-works-right {
      width: 100%;
      height: 80%;
      position: relative;
      top: 10%;
    }
  }
  #section-works-right:not(.open) {
    width: 12rem;
    height: 8rem;
    position: fixed;
    transform: translate(
      calc(100vw - var.$sidebarWidth - 100% - 1em),
      calc(100vh - var.$topBarHeight - 100% - 6rem)
    );
    border-radius: 0;
    z-index: 10;
    h2 {
      display: none;
    }
    #main-works-right {
      width: 100%;
      height: 100%;
      .images-card {
        & > *:not(.swiper-wrapper):not(#empty-image-content) {
          display: none !important;
        }
        .swiper-slide,
        .swiper-slide > *,
        #empty-image-content {
          width: 100% !important;
          height: 100% !important;
          cursor: pointer;
        }
        .swiper-slide {
          background-color: #5b4f44;
        }
      }
    }
  }
}
